################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FujitsuMovieApp/Fujitsu.MovieApp.Common/obj/Debug
